!!!
%html
  %head
    %title MyTodo
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head
  %body.container
    %header
      %h1= link_to 'Todos!', root_path
      = render 'shared/header'
    = yield
